.Person {
	width: 60%;
	margin: 16px auto;
	border: 2px solid black;
	box-shadow: 0 2px 3px cornflowerblue;
	border-radius: 15px;
	padding: 16px;
	text-align: center;
	font-family: sans-serif;
	font-variant: small-caps;
}
