body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: steelblue;
	font-size: medium;
	text-transform: uppercase;
	font-weight: bold;
	height: 100%;
}

.active,
a:hover {
	color: coral;
}

ul {
	background-color: lightblue;
	height: 100%;
	width: auto;
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 0;
}

li {
	padding: 16px;
	height: 100%;
	width: auto;
	display: block;
	box-sizing: border-box;
	text-align: center;
}

li:active,
li:hover {
	background-color: lightgrey;
}
